@using PlcCreatorSystem_Utility;
@using System.Security.Claims;
@model PlcCreatorSystem_WEB.Models.VM.ProjectCreateVM

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@{
    var user = httpAcc.HttpContext.User;
}

<form asp-action="CreateProject">
    <br />
    <div class="container border p-3">
        <h1 class="text-primaey">Create Project</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="projectCreateVM.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectCreateVM.Name" class="form-control" />
                <span asp-validation-for="projectCreateVM.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectCreateVM.PlcID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectCreateVM.PlcID" class="form-select" asp-items="@Model.plcList">
                    <option disabled selected>--Select PLC--</option>
                </select>
                <span asp-validation-for="projectCreateVM.PlcID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectCreateVM.HmiID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="projectCreateVM.HmiID" class="form-select" asp-items="@Model.hmiList">
                    <option disabled selected>--Select HMI--</option>
                </select>
                <span asp-validation-for="projectCreateVM.HmiID" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="projectCreateVM.CustomerDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="projectCreateVM.CustomerDetails" class="form-control" />
                <span asp-validation-for="projectCreateVM.CustomerDetails" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Status</label>
            </div>
            <div class="col-10 pb-3">
                <div class="btn btn-warning form-control text-center" style="pointer-events:none; cursor:default;">
                    @SD.ProjectStatus.waiting_to_check
                </div>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Author</label>
            </div>
            <div class="col-10 pb-3">
                <div class="btn btn-warning form-control text-center" style="pointer-events:none; cursor:default;">
                    @User.Identity?.Name
                </div>

                <input type="hidden" asp-for="projectCreateVM.UserID"
                       value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            </div>
            
            <div class="col-5 offset-2">
                <a asp-action="IndexProject" asp-controller="Project" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success from-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}