@using PlcCreatorSystem_Utility;
@model IEnumerable<PlcCreatorSystem_WEB.Models.Dto.PlcDTO>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAcc
@{
    var user = httpAcc.HttpContext.User;
    var role = user?.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value;
    var token = httpAcc.HttpContext?.Session.GetString(SD.SessionToken);
}

<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">PLC List</h1>
        </div>
        @if ((string.Equals(role, "admin", StringComparison.OrdinalIgnoreCase)) || (string.Equals(role, "engineer", StringComparison.OrdinalIgnoreCase)))
        {
            <div class="col text-end pt-1">
                <a asp-controller="Plc" asp-action="CreatePlc" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create New PLC</a>
            </div>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Subnet_X1
                </th>
                <th>
                    IP_X1
                </th>
                <th>
                    Subnet_X2
                </th>
                <th>
                    IP_X2
                </th>
                <th>
                    Identyfier
                </th>
                <th>
                    Details
                </th>
                <th>
                    Author
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Subnet_X1</td>
                    <td>@item.IP_X1</td>
                    <td>@item.Subnet_X2</td>
                    <td>@item.IP_X2</td>
                    <td>@item.Identyfier</td>
                    <td>@item.Details</td>
                    <td>@item.LocalUser?.Name</td>
                    @if ((string.Equals(role, "admin", StringComparison.OrdinalIgnoreCase)) || (string.Equals(role, "engineer", StringComparison.OrdinalIgnoreCase)))
                    {
                        <td>
                            <a asp-controller="PLC" asp-action="UpdatePlc" asp-route-plcId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="PLC" asp-action="DeletePlc" asp-route-plcId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>